body{
    background-color: black;
}

.logo{
    height: 50px;
    width: 50px;
}
.fotka{
    width: 45vw;
    margin-left:8vw;
}
.fotka2{
    width: 45vw;
    margin-left: 50vw;

}.fotka3{
     width: 45vw;
     margin-left:8vw;
}
.napis{
    position: relative;
    color: white;
    top: 2vh;
    width: 100%;
    font-size: 5vw;
    height: 15vw;
    text-align: center;
}
.fotka1 {
    position: relative;
    top: 0;
    height: 20vw;
    width: 25vw;
    margin-left: 30vw;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.fotka5{
    height: 22.5vh;
    width: 100%;
    position: relative;
    top: 2vh;
}
.bioo{
    font-size: 2vh;
    color: white;
    position: relative;
    margin-left:5vw;
    width: 90%;
    top:5vh;
}
.bioo h1{

    font-size: 4vh;
}
.bioo h2{

    font-size: 3vh;
}
.album1{
    height: 35vw;
    width: 35vw ;
    position: absolute;
    right:0;
}
.songy{
    font-size: 2vh;
    position: relative;
    top:5vw;
    height: 100vh;
    margin-left: 1vw;
    color: white;
    width: 60vw;
}
.songy ul li{
    margin: 1vw;
}
.songy ul a {
    text-decoration: none;
    color: white;
}.songy ul li:hover a{
     background-color: lightslategray;
 }
 .songy h2{
     font-size: 3vh;
     margin-left: 1vh;
     margin-bottom: 3vh;
 }
.toop {
    color: bisque;
}
.toop:hover {
    color: bisque;
}
.bla{
    font-size: 2vh;
    color: white;
    text-align: center;
    width: 100vw;
}
.bla h1{
    font-size: 4vh;
    text-align: center;

}
.bla h2{
    font-size: 3vh;
    text-align: center;
}

p{ white-space: pre-line;}
.covid p{
    color: white;
    text-align: center;
}
svg{
    overflow: hidden;
    vertical-align: middle;
    left: 42.5%;
    position: absolute;
}
@media only screen and (min-width: 768px) {
    .fotka1 {
        top: 0;
        margin-left: 10vw;
        width: 30vw;
        height: 15vw;
    }

    .napis {
        font-size: 3vw;
        width: 40vw;
        top: 10vh;
        margin-left: 5vw;
    }

    .fotka {
        margin-left: 62vw;
        width: 20vw;
        top: -29vw;
    }
.fotka2{
    top: -26vw;
    width: 20vw;
    /* height: 20vw; */
    margin-left: 77vw;
}
.fotka3{
    width: 20vw;
    /* height: 20vw; */
    top: -44vw;
    margin-left: 48vw;

}
    .fotka5 {
        height: 12.5vw;
        width: 30vw;
        position: relative;
        margin-left: 2vw;
        top: 5vw;
    }

    .bioo {
        font-size: 2vh;
        position: relative;
        color: white;
        top: -8vw;
        width: 60vw;
        margin-left: 35vw;

    }
    .songy {
        margin-left: 5vw;
    }
}
.bg-dark {
    background-color: black!important;
}

