
body {
    background-color: black;
}
div#Edit {
    margin-top: 10vw;
}
.editSong{color: white;}
p#moreAlbums {
    position: relative;
    left: 9vw;
}
p#nazov {
    font-size: 3vh;
    font-family: auto;
    margin-left: 2vw;
    margin-top: 2vw;
    color: cornsilk;
}

img.bioAlbums {
    width: 20vh;
    height: 19vh;
    margin-left: 9vh;
    margin-top: 2vh;
    opacity: 0.7;
    margin-bottom: 2vh;
}

input[type="button"] {
    position: relative;
    left: 22vw;
}

button#registr {
    height: 31px;
    width: 35px;
    margin-right: 20px;
}

{
    box-sizing: border-box
;
}

#login {
    color: black;
    height: 30px;
    width: 40px;
}

#prev {
    margin-left: 11vw;
    position: relative;
    width: 12vw;
    font-size: 2vw;
}

#next {
    position: relative;
    width: 9vw;
    font-size: 2vw;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {

    color: white;
    padding: 1px 6px;
    border-radius: 0;
    cursor: pointer;
    opacity: 0.8;
    margin: 0;
    right: 0;
    position: relative;
    bottom: 0;

}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: relative;
    top: 10vh;
    right: 0;
    z-index: 9;
}

.form-popup h1 {
    color: white;
    font-size: 3vh;
}

.form-popup b {
    color: white;
    font-size: 2vh;
}

/* Add styles to the form container */
.form-container {
    max-width: 100%;
    padding: 2px;
    background-color: black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 1px 0 15px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: darkgreen;
    color: white;
    padding: 10px 19px;
    border: none;
    margin-right: 6vw;
    margin-bottom: 10px;
    opacity: 0.8;
    margin-left: 6vw;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: darkred;
    position: absolute;
    right: 0;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.notif {
    text-align: center;
    top: -140vw;
    width: 100%;
}

.notif2 {
    text-align: center;
    top: 55vw;
    width: 100%;
}

.notif2 {
    text-align: center;
    top: 1vw;
    width: 100%;
}

.addConcert {
    margin-top: 20vw;
}

.DBConcerts {
    color: white;
    margin-left: 0vw;
    margin-top: 5vw;
    font-size: 10px;
    margin-bottom: 150vw;
}

.editConcert {
    margin-top: 5vw;
}

.deleteConcert {
    margin-top: 5vw;
}

.logo {
    height: 50px;
    width: 50px;
}

.fotka {
    width: 45vw;
    margin-left: 8vw;
}

.fotka2 {
    width: 45vw;
    margin-left: 50vw;
}

.fotka3 {
    width: 45vw;
    margin-left: 8vw;
}

.napis {
    position: relative;
    color: white;
    top: 2vh;
    width: 100%;
    font-size: 5vw;
    height: 15vw;
    text-align: center;
}

.fotka1 {
    position: relative;
    top: 0;
    height: 20vw;
    width: 25vw;
    margin-left: 30vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fotka5 {
    height: 29.5vw;
    width: 100%;
    position: relative;
    top: 2vh;
}

.bioo {
    font-size: 2vh;
    color: white;
    position: relative;
    margin-left: 5vw;
    width: 90%;
    top: 5vh;
}

.bioo h1 {

    font-size: 4vh;
}

.bioo h2 {

    font-size: 3vh;
}

.album1 {
    height: 35vw;
    width: 35vw;
    position: absolute;
    right: 0;
}

.songy {
    font-size: 2vh;
    position: relative;
    top: 5vw;
    height: 100vh;
    margin-left: 1vw;
    color: white;
    width: 60vw;
}

.songy ul li {
    margin: 1vw;
}

.songy ul a {
    text-decoration: none;
    color: white;
}

.songy ul li:hover a {
    background-color: lightslategray;
}

.songy h2 {
    font-size: 3vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
}

.toop {
    color: orangered;
}

.toop:hover {
    color: bisque;
}

.lyrics {
    font-size: 2vh;
    color: white;
    text-align: center;
    width: 100%;
}

p {
    white-space: pre-line;
}

.kalendarikk {
    color: white;
}

.kalendare {
    color: white;
}

.kalendare a {
    margin-left: 54vw;
    position: relative;
    top: -7vh;
    font-size: 2.5vw;
}

.kalendare p {
    color: black;
    width: 7vw;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    margin-left: 9vw;
    margin-top: -6.5vw;
}

.buttony {
    margin-top: -2vw;
    margin-bottom: 5vw;
}

.toop2 a {
    color: #007bff;
}

.toop3 button {
    margin-top: 5vw;
    margin-left: 5vw;
    font-size: 2.5vw;
    color: #007bff;
}

.toop2 button {
    color: #007bff;
    margin-left: 5vw;
    margin-top: 40vh;
    margin-bottom: 5vw;
}

.buttony button {
    color: #007bff;
}

.kalendarik1 svg {
    width: 10vw;
    height: 10vw;

    margin-top: 5vw;
}

.kalendare svg {
    margin-top: 5vw;
    width: 10vw;
    height: 10vw;
    margin-top: 4vw;
    margin-left: 7.5vw;
}

.kalendare h1 {
    width: 35vw;
    font-size: 3vw;
    margin-top: -11.8vw;
    margin-left: 20vw;
}

.kalendare h2 {
    font-size: 2vw;
    width: 35vw;
    margin-top: -1vw;
    margin-left: 20vw;
}

.napisok {
    color: white;
    font-size: 3vw;
    top: 5vw;
    width: 100%;
    margin-left: 2vw;
}

.napisok h1 {

    font-size: 4vw;
}

.napisok h2 {
    margin-bottom: 8vw;

    font-size: 3.5vw;
}

.btn-outline-success {
    color: black;
    border-color: black;
    background-color: white;
}

.btn-outline-success:hover {
    border-color: black;
    background-color: grey;
}

i.fas.fa-edit {
    color: white;
    font-size: 3vh;
}

.editko {
    margin-left: 8vw;
    margin-bottom: -4vh;
}

.kalendare button {
    margin-left: 8vw;
}

@media screen and (min-width: 479px) {

    p#moreAlbums {
        left: 6vh;
    }

    #prev {
        position: absolute;
        left: 20vh;
        margin-top: 5vh;
        width: 12vh;
        font-size: 2.5vh;
        margin-left: 0;
    }

    #next {
        margin-top: 5vh;
        position: absolute;
        left: 35vh;
        width: 12vh;
        font-size: 2.5vh;
        margin-left: 0;
    }

    .form-container .btn {
        margin-right: 18vw;
        margin-left: 10vw;
    }

    .kalendare a {
        margin-left: 60vh;
        position: relative;
        top: -6vh;
        font-size: 1.5vh;

    }

    .form-popup h1 {
        color: white;
        font-size: 4vh;
    }

    .form-popup b {
        color: white;
        font-size: 2vh;
    }

    .form-container {
        max-width: 100%;
    }

    .toop3 button {
        font-size: 2vh;
        margin-left: 25vh;
        margin-top: 10vh;
    }

    .kalendare p {
        margin-left: 13.7vh;
        color: black;
        width: 7vh;
        font-size: 2vh;
        font-weight: bolder;
        text-align: center;
        margin-top: -6.5vh;
    }

    .kalendare svg {
        width: 10vh;
        height: 10vh;
        margin-top: 4vh;
        margin-left: 12vh;
    }

    .kalendare h1 {
        margin-left: 28vh;
        width: 35vh;
        font-size: 2.5vh;
        margin-top: -10vh;
    }

    .kalendare h2 {
        font-size: 2.2vh;
        margin-left: 28vh;
        width: 35vh;
        margin-top: -0.2vh;
    }

    .toop2 button {

        margin-top: 40vh;
    }

    .napisok {
        color: white;
        font-size: 2.2vh;
        top: 5vh;
        width: 90vw;
        margin-left: 5vh;
    }

    .napisok h1 {

        font-size: 3.5vh;
    }

    .napisok h2 {
        font-size: 3vh;
        margin-top: 5vh;
        margin-bottom: 9vh;
    }

    input[type="button"] {
        left: 13vh;
    }
}

@media only screen and (min-width: 768px) {

    p#moreAlbums {
        left: 8vh;
    }

    img.bioAlbums {
        width: 24vh;
        height: 23vh;
    }

    input[type="button"] {
        left: 15vh;
    }

    .form-container .btn {
        margin-right: 3vh;
        margin-left: 3vh;
    }

    .form-popup h1 {
        color: white;
        font-size: 5vh;
    }

    .form-popup b {
        color: white;
        font-size: 2.5vh;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 10vh;
        right: 0;
        z-index: 9;
    }

    .form-container {
        max-width: 250px;
    }

    .open-button {
        margin: 5px;
        left: -5px;
        color: white;
        padding: 1px 6px;
        border-radius: 0;
        cursor: pointer;
        opacity: 0.8;
        margin: 0;
        right: -3px;
        position: relative;
        bottom: 0;
    }

    .notif {
        top: -41vw;
    }

    .notif2 {
        top: 25vw;
    }

    .kalendare a {
        margin-left: 60vh;
        position: relative;
        top: -7.5vh;
        font-size: 1.5vh;
    }

    .DBConcerts {
        font-size: 15px;
        margin-bottom: 49vw;
    }

    .toop2 button {

        margin-top: 30vh;
    }

    .fotka1 {
        top: 0;
        margin-left: 10vw;
        width: 30vw;
        height: 13vw;
    }

    .napis {
        font-size: 3vw;
        width: 40vw;
        top: 10vh;
        margin-left: 5vw;
    }

    .fotka {
        margin-left: 63vw;
        width: 20vw;
        top: -28vw;
    }

    .fotka2 {
        top: -26vw;
        width: 20vw;
        margin-left: 77vw;
    }

    .fotka3 {
        width: 20vw;
        top: -44vw;
        margin-left: 48vw;

    }

    .fotka5 {
        height: 12.5vw;
        width: 30vw;
        position: relative;
        margin-left: 2vw;
        top: 5vw;
    }

    .bioo {
        font-size: 2vh;
        position: relative;
        color: white;
        top: -8vw;
        width: 60vw;
        margin-left: 35vw;
    }

    .songy {
        margin-left: 5vw;
    }

    .napisok {
        margin-left: 10vh;
    }
}

.bg-dark {
    background-color: black !important;
}

